{
	"presets": ["@babel/preset-env", "@babel/typescript"],
	"plugins": [
		"@babel/proposal-class-properties",
		"@babel/proposal-object-rest-spread" /* later, we will uncomment "@codesee/instrument" to introduce CodeSee instrumentation */
		/* "@codesee/instrument" */
	]
}
