/*
DAY palette
rainbow connection
*/
$paper-day: hsl(199, 12%, 96%);
$silk-day: hsla(199, 22%, 96%, 0.87);
$sky-day: hsl(199, 40%, 92%);
$dust-day: hsla(199, 10%, 50%, 0.8);
$pencil-day: hsl(199, 50%, 18%, 0.3);
$ink-day: hsl(199, 12%, 18%);
$flair-day: hsl(199, 50%, 39%);
$good-day: hsl(132, 77%, 39%);
$bad-day: hsl(12, 77%, 39%);
$link-day: hsl(321, 77%, 39%);
$glow-day: hsla(199, 97%, 82%, 0.8);
$feather: hsl(327, 77%, 77%);
$rainglow: 0 0 1vw 0.125vw $feather, 0 0 2vw 0.25vw hsl(277, 77%, 77%),
  0 0 4vw 0.5vw hsl(227, 77%, 77%), 0 0 8vw 1vw hsl(177, 77%, 77%), 0 0 16vw 2vw hsl(127, 77%, 77%),
  0 0 32vw 4vw hsl(77, 77%, 77%), 0 0 64vw 8vw hsl(27, 77%, 77%);
$springlow: 0 0 0.125vw 0.0625vw $feather, 0 0 0.25vw 0.125vw hsl(277, 77%, 77%),
  0 0 0.5vw 0.25vw hsl(227, 77%, 77%), 0 0 1vw 0.5vw hsl(177, 77%, 77%),
  0 0 2vw 1vw hsl(127, 77%, 77%), 0 0 4vw 2vw hsl(77, 77%, 77%), 0 0 8vw 4vw hsl(27, 77%, 77%);

[data-theme='day'],
.theme-day {
  --theme-icons: '🌈🐻';
  --pip: '🍦';
  --paper: $paper-day;
  --silk: $silk-day;
  --ground: $sky-day;
  --ink: $ink-day;
  --flair: $flair-day;
  --pencil: $pencil-day;
  --link: $link-day;
  --dust: $dust-day;
  --good: $good-day;
  --bad: $bad-day;
  --glow: $glow-day;
  --focus-glow: $springlow;
}
