/*
NIGHT palette
intergalactic planetary
*/
$paper-night: hsl(199, 17%, 10%);
$silk-night: hsla(199, 17%, 7%, 0.82);
$deep-space: hsl(199, 10%, 2%);
$dust-night: hsla(199, 20%, 50%, 0.8);
$pencil-night: hsla(199, 50%, 90%, 0.2);
$ink-night: hsl(199, 27%, 82%);
$flair-night: hsl(199, 85%, 61%);
$good-night: hsl(139, 71%, 61%);
$bad-night: hsl(19, 71%, 61%);
$link-night: hsl(321, 71%, 61%);
$glow-night: hsla(79, 71%, 82%, 0.3);
$moonglow: 0 0 0.125vw 0.0625vw hsla(177, 77%, 77%, 1), 0 0 0.25vw 0.125vw hsla(77, 77%, 77%, 1),
  0 0 0.5vw 0.25vw hsla(177, 77%, 77%, 0), 0 0 1vw 0.5vw hsla(77, 77%, 77%, 1),
  0 0 2vw 1vw hsla(177, 77%, 77%, 1), 0 0 4vw 2vw hsla(77, 77%, 77%, 0),
  0 0 8vw 4vw hsla(177, 77%, 77%, 1);

[data-theme='night'],
.theme-night {
  --theme-icons: '🦉🌚';
  --pip: '🛸';
  --paper: $paper-night;
  --silk: $silk-night;
  --ground: $deep-space;
  --ink: $ink-night;
  --flair: $flair-night;
  --link: $link-night;
  --pencil: $pencil-night;
  --dust: $dust-night;
  --good: $good-night;
  --bad: $bad-night;
  --glow: $glow-night;
  --focus-glow: $moonglow;
}
