html {
  font-size: 100%;
  font-size: 1rem;
  min-width: 100vw;
  min-height: 100vh;
  font-family: var(--font);
  background-color: var(--ground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: var(--ink);
  background-color: var(--paper);
  display: flex;
  flex-wrap: nowrap;
}

.bollard {
  --drawer-buffer: calc(100vw - 3rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  margin: 0 auto 0.75em;
}

h1,
h2 {
  font-family: var(--heading);
}

h3,
h4,
h5,
h6 {
  font-family: var(--font);
}

p {
  line-height: var(--leading);
  margin: 0 auto 1em;
  font-family: var(--text);
  /* font-weight: 300; */
}

pre {
  white-space: break-spaces;
  font-family: inherit;
}

a {
  cursor: pointer;
}

a:link {
  color: var(--link);
}

a:active,
a.router-link-active,
a:link.router-link-active,
a:visited.router-link-active {
  color: var(--brand);
}

a:hover {
  color: var(--flair);
}

a:visited {
  color: var(--flair);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background-color: var(--glow);
}

::placeholder {
  color: var(--glow);
}

blockquote {
  font-style: italic;
  margin: 1em 2em;
  padding: 1em;
  font-size: 1.25em;
  font-weight: 400;
  line-height: var(--pleading);
}

code {
  background: var(--silk);
  color: var(--flair);
  padding: 1px 3px;
  display: inline-block;
  font-family: var(--mono);
}

kbd {
  background: var(--shade);
  color: var(--flair);
  font-weight: 600;
  padding: var(--frame);
  font-size: 112.5%;
  margin: 0 2px;
  border: 1px solid var(--flair);
  border-radius: 3px;
}
