*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	font-variation-settings: 'wght' var(--font-weight), 'slnt' var(--font-slant),
		'CASL' var(--font-casual), 'MONO' var(--font-mono);
}

html {
	font-size: 100%;
	font-size: 1rem;
	min-width: 100vw;
	min-height: 100vh;
	font-family: var(--font);
	background-color: var(--ground);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	color: var(--ink);
	background-color: var(--paper);
	display: flex;
	flex-wrap: nowrap;
}

.bollard {
	--drawer-buffer: calc(100vw - 3rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.25;
	margin: 0 auto 0.75em;
	--font-weight: 666;
}

h1,
h2 {
	font-family: var(--heading);
}

h3,
h4,
h5,
h6 {
	font-family: var(--font);
}

p {
	margin: 0 auto 1em;
	line-height: var(--leading);
	font-family: var(--text);
	--font-mono: 0.5;
	--font-casual: 0.25;
	--font-weight: 333;
}

.theme-day p {
	--font-weight: 367;
	--font-mono: 0.5;
	--font-casual: 0.25;
}

pre {
	white-space: break-spaces;
	font-family: inherit;
}

a {
	cursor: pointer;
	--font-mono: 0;
	--font-casual: 0.75;
	--font-weight: 454;
}

a:link {
	color: var(--link);
}

a:active,
a.router-link-active,
a:link.router-link-active,
a:visited.router-link-active {
	color: var(--flair);
}

a:active,
a.router-link-exact-active,
a:link.router-link-exact-active,
a:visited.router-link-exact-active {
	color: var(--brand);
}

a:hover {
	color: var(--flair);
}

a:visited {
	color: var(--glow);
}

a:visited:hover {
	color: var(--flair);
}

::selection {
	background-color: var(--glow);
}

::placeholder {
	color: var(--glow);
}

blockquote {
	margin: 1em 1em 2em;
	padding: 0 1em;
	font-size: 1.25rem;
	line-height: var(--pleading);
	border-left: 3px dotted var(--glow);
	--font-weight: 444;
}

blockquote.poem {
	border-right: 3px dotted var(--glow);
	& pre {
		margin-right: 1rem;
	}
}

code {
	background: var(--silk);
	border-radius: var(--bev);
	color: var(--flair);
	display: inline-block;
	padding: 0px 0.5ch;
	--font-mono: 1;
	--font-weight: 633;
}

kbd {
	background: var(--silk);
	color: var(--ink);
	--font-weight: 555;
	--font-mono: 1;
	padding: var(--frame);
	font-size: 112.5%;
	margin: 0 1px;
	border: 1px solid var(--glow);
	border-radius: 3px;
}

p svg {
	vertical-align: middle;
}

blockquote pre {
	margin: 0 0 0 1em;
}

img,
iframe,
figure,
video {
	max-width: 100vw;
}

strong {
	--font-weight: 667;
}

em {
	--font-slant: -14;
	--font-weight: 456;
	--font-mono: 0;
}

[contenteditable] br {
	display: none;
}

[contenteditable]:focus {
	outline: 2px var(--border-style) var(--flair);
	outline-offset: 2px;
}

hr {
	background-image: linear-gradient(to right, var(--pencil), var(--ink));
	height: var(--bev);
	border: 0;
	border-radius: var(--bev);
	width: 61%;
	margin: 2rem auto;
}
