.btn,
button.btn {
  display: inline-block;
  appearance: none;
  background: var(--link);
  color: var(--paper);
  font-size: 1.125rem;
  font-family: var(--heading);
  padding: 0.67em 1.33em;
  border-width: 2px;
  border-style: solid;
  border-color: var(--border);
  border-radius: var(--bevel);
  cursor: pointer;
  transition: 333ms;
  margin: 0.5em auto;
  outline: none;
}

.btn:hover,
.btn:focus,
button.btn:hover,
button.btn:focus {
  background-color: var(--brand);
  outline: 2px dotted var(--brand);
  outline-offset: 2px;
  color: var(--ground);
}

.btn.sm,
button.btn.sm {
  font-size: 0.875rem;
}

.btn.md,
button.btn.md {
  font-size: 1rem;
}

.btn.lg,
button.btn.lg {
  font-size: 1.25rem;
}

.btn.md,
button.btn.md {
  font-size: 1.5rem;
}

.btn.dark,
button.btn.dark {
  background-color: var(--ground);
  border-color: var(--ground);
  color: var(--ink);
}

.btn.dark:hover,
.btn.dark:focus,
button.btn.dark:hover,
button.btn.dark:focus {
  background-color: var(--paper);
  border-color: var(--ground);
}

.btn.naked,
button.btn.naked {
  color: var(--link);
  background: transparent;
  border-color: transparent;
  appearance: none;
  box-shadow: none;
}

.btn.naked:hover,
.btn.naked:focus,
button.btn.naked:hover,
button.btn.naked:focus {
  background-color: transparent;
  color: var(--flair);
}

.btn.naked:active {
  background-color: var(--silk);
}

.btn.outline,
button.btn.outline {
  color: var(--link);
  border-color: var(--glow);
  background-color: var(--paper);
}

.btn.outline:hover,
.btn.outline:focus,
button.btn.outline:hover,
button.btn.outline:focus {
  color: var(--flair);
  border-color: var(--flair);
  background-color: var(--silk);
}

.btn.lastack,
button.btn.lastack {
  margin: auto;
}
