.btn,
a.btn,
button.btn {
	display: inline-block;
	appearance: none;
	background: var(--link);
	color: var(--paper);
	font-size: var(--unit);
	font-family: var(--heading);
	padding: calc(var(--unit) * 0.67) calc(var(--unit));
	border-width: 2px;
	border-style: solid;
	border-color: var(--border);
	border-radius: var(--bevel);
	cursor: pointer;
	transition-property: all;
	transition-duration: var(--beat);
	margin: calc(var(--unit) * 0.5) auto;
	outline: none;
	text-decoration: none;

	&:hover {
		transition-duration: 100ms;
	}

	&:hover,
	&:focus {
		background-color: var(--flair);
		outline: 2px var(--border-style) var(--flair);
		outline-offset: 2px;
		color: var(--ground);
	}

	&.dark {
		background-color: var(--ground);
		border-color: var(--ground);
		color: var(--ink);
	}

	&.dark:hover,
	&.dark:focus {
		background-color: var(--paper);
		border-color: var(--ground);
	}

	&.naked {
		color: var(--link);
		background: transparent;
		border-color: transparent;
		border-width: 1px;
		appearance: none;
		box-shadow: none;
	}

	&.naked:hover,
	&.naked:focus {
		background-color: transparent;
		color: var(--flair);
	}

	&.naked:active {
		background-color: var(--silk);
	}

	&.outline {
		color: var(--link);
		border-color: var(--glow);
		background-color: var(--paper);
	}

	&.outline:hover,
	&.outline:focus {
		color: var(--flair);
		border-color: var(--flair);
		background-color: var(--silk);
		outline: none !important;
	}

	&.lastack {
		margin: auto;
	}

	&.back {
		font-size: 1.5em;
		padding: 0 0.5rem;
		width: 3rem;
		margin: 0;
	}

	&.back:hover,
	&.back:focus {
		opacity: 1;
	}

	&.skinny {
		padding: calc(var(--unit) * 0.133) calc(var(--unit) * 0.267);
	}

	&.static {
		cursor: default;
		color: var(--ink);
		/* text-decoration: underline; */
		&:hover {
			color: var(--ink);
			outline: none;
		}
	}

	&.inert {
		filter: grayscale(1);
		cursor: default;
		color: var(--flair);
		&:hover {
			outline: none;
			color: var(--flair);
		}
	}

	&.ib {
		margin-left: calc(var(--unit) * 0.5);
		margin-right: calc(var(--unit) * 0.5);
	}

	&.block {
		display: block;
	}
}
