.sleeve {
	position: relative;
	z-index: 20;
	perspective: 1000em;
	pointer-events: auto;
	text-align: center;
	background-size: cover;
}

.card {
	transform-style: preserve-3d;
	transform-origin: 50% 50%;
	position: absolute;
}

.sleeve,
.card {
	min-width: 15rem;
	min-height: 15rem;
	max-width: 92vw;
	max-height: 92vh;
	width: 96vw;
	height: 96vh;

	@media (min-height: 48rem) {
		height: 40rem;
		max-height: 80vh;
	}

	@media (min-width: 48rem) {
		width: 40rem;
		max-width: 80vh;
	}

	@media (orientation: landscape) and (max-height: 36rem) {
		max-height: 100vh;
	}
}

.face h2 {
	margin-top: 0.5em;
}

.face {
	position: absolute;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	overflow-y: auto;
	padding: var(--bumper);
	background: var(--paper);
	box-shadow: var(--shaglow);
	border-radius: var(--bevel);
	border: 2px solid var(--glow);
	transition-property: all;
	transition-duration: var(--2beat);
	transition-timing-function: var(--ease-out-circ);
}

.oracle .face,
.face.face--front,
.sleeve:focus-within .face {
	box-shadow: var(--focus-glow);
}

.flip-leave-to,
.flip-enter-from,
.flip-enter-active,
.flip-leave-active {
	backface-visibility: hidden !important;
	-webkit-backface-visibility: hidden !important;
	box-shadow: none;
}

.flip-enter-active,
.flip-leave-active {
	transition-duration: var(--3beat);
	transition-timing-function: var(--ease-out-circ);
}

.flip-leave-to,
.flip-enter-from {
	transform: rotateY(180deg) translateZ(0);
	pointer-events: none;
	z-index: 22;
}

.flip-enter-from {
	transform: rotateY(-180deg);
}

.flip-leave-from,
.flip-enter-to {
	backface-visibility: visible;
	-webkit-backface-visibility: visible;
	transform: rotateY(0) translateZ(0);
	pointer-events: auto;
	overflow-y: auto;
	opacity: 1;
	z-index: 25;
}
