.field {
	position: relative;
	margin: 1em 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	& label {
		display: block;
		font-size: 75%;
	}

	& input[type='email'] + label,
	& input[type='text'] + label,
	& input[type='tel'] + label,
	& textarea + label {
		order: 1;
		margin-bottom: 0.5em;
		opacity: 0.75;
		font-size: 1rem;

		@media (min-width: 48rem) {
			font-size: 1.25rem;
		}
	}

	& input[type='email']:focus + label,
	& input[type='text']:focus + label,
	& input[type='tel']:focus + label,
	& textarea:focus + label {
		opacity: 1;
	}

	& input[type='email'],
	& input[type='text'],
	& input[type='tel'] {
		padding: 0.25em 0.5em;
	}

	& input[type='email'],
	& input[type='text'],
	& input[type='tel'],
	& textarea {
		order: 2;
		appearance: none;
		@supports (font-variation-settings: normal) {
			font-family: 'Roboto SlabVariable';
			font-variation-settings: 'wght' 444;
		}
		color: var(--ink);
		font-size: 1.125em;
		text-align: center;
		font-family: var(--text);
		background: var(--paper);
		border-radius: var(--bevel);
		border: 2px solid var(--glow);
		transition-property: outline, border-color, background-color, color;
		transition-duration: var(--beat);
		transition-timing-function: var(--ease-out-circ);
	}

	& textarea {
		width: 100%;
		resize: none;
		padding: 0.5em;
		/* margin-bottom: 1em; */
		line-height: 1.375;
	}

	& input,
	& textarea {
		transition-duration: 100ms !important;
	}

	& input[type='email']:hover,
	& input[type='email']:focus,
	& input[type='text']:hover,
	& input[type='text']:focus,
	& input[type='tel']:hover,
	& input[type='tel']:focus,
	& textarea:hover,
	& textarea:focus {
		outline: 1px var(--border-style) var(--flair);
		outline-offset: -4px;
		border-color: var(--flair);
	}

	& input[type='email']:valid,
	& input[type='text']:valid,
	& input[type='tel']:valid,
	& textarea:valid {
		border-color: var(--good);
	}

	& input[type='email']:invalid,
	& input[type='text']:invalid,
	& input[type='tel']:invalid,
	& textarea:invalid {
		border-color: var(--bad);
	}

	&.inert {
		opacity: 0.5;
		cursor: default;
		pointer-events: none;
	}
	&.inline {
		display: inline;
		margin: 0 0.5em;
		width: auto;
	}
}

input[type='radio'] {
	width: 2rem;
	height: 2rem;
	appearance: none;
	border-radius: 100%;
	margin: 0.25rem 0.5rem;
	background: var(--silk);
	border: 0.25rem solid var(--glow);
	transition-property: all;
	transition-duration: var(--beat);
	transition-timing-function: var(--ease-out-circ);
}

input[type='radio'],
input[type='radio'] + label,
.radios label {
	display: inline-block;
	font-family: var(--mono);
	line-height: 3rem;
	vertical-align: middle;
	margin: 0.25rem;
}

input[type='radio'] + label {
	@supports (font-variation-settings: normal) {
		font-family: 'QuicksandVariable';
		font-variation-settings: 'wght' 444;
	}
}

input[type='radio'] + label:hover {
	@supports (font-variation-settings: normal) {
		font-family: 'QuicksandVariable';
		font-variation-settings: 'wght' 666;
	}
	color: var(--link);
}

input[type='radio']:checked + label {
	@supports (font-variation-settings: normal) {
		font-family: 'QuicksandVariable';
		font-variation-settings: 'wght' 666;
	}
	color: var(--flair);
}

input[type='radio']:hover {
	border-color: var(--link);
	background-color: var(--ground);
}

input[type='radio']:checked {
	border: 0.5rem solid var(--flair);
	background-color: var(--ground);
}
