.font {
	@supports (font-variation-settings: normal) {
		font-family: 'QuicksandVariable';
		font-variation-settings: 'wght' 555;
	}
}

.text {
	@supports (font-variation-settings: normal) {
		font-family: 'Roboto SlabVariable';
		font-variation-settings: 'wght' 367;
	}
}

.mono {
	@supports (font-variation-settings: normal) {
		font-family: 'InconsolataVariable';
		font-variation-settings: 'wght' 420;
	}
}

.head {
	@supports (font-variation-settings: normal) {
		font-family: 'MuseoModernoVariable';
		font-variation-settings: 'wght' 666;
	}
}

.alert {
	color: var(--flair);
	font-style: italic;
	@supports (font-variation-settings: normal) {
		font-family: 'QuicksandVariable';
		font-variation-settings: 'wght' 533;
	}
}

.head,
.font,
.mono,
.text {
	&.thin,
	&.fw3 {
		@supports (font-variation-settings: normal) {
			font-variation-settings: 'wght' 222;
		}
	}
	&.fine,
	&.fw3 {
		@supports (font-variation-settings: normal) {
			font-variation-settings: 'wght' 333;
		}
	}
	&.normal,
	&.fw4 {
		@supports (font-variation-settings: normal) {
			font-variation-settings: 'wght' 444;
		}
	}
	&.thicc,
	&.fw5 {
		@supports (font-variation-settings: normal) {
			font-variation-settings: 'wght' 555;
		}
	}
	&.thick,
	&.fw6 {
		@supports (font-variation-settings: normal) {
			font-variation-settings: 'wght' 666;
		}
	}
	&.phat,
	&.fw7 {
		@supports (font-variation-settings: normal) {
			font-variation-settings: 'wght' 777;
		}
	}
	&.md,
	&.lg,
	&.xl {
		margin: 1rem 0;
		line-height: var(--leading);
	}
	&.flair {
		color: var(--flair);
	}
	&.link {
		color: var(--link);
	}
	&.ink {
		color: var(--ink);
	}
	&.ground {
		color: var(--ground);
	}
	&.paper {
		color: var(--paper);
	}
	&.pencil {
		color: var(--pencil);
	}
	&.dust {
		color: var(--dust);
	}
	&.xxl,
	&.x2l,
	&.x3l,
	&.x4l,
	&.x5l,
	&.x6l,
	&.x7l,
	&.x8l {
		margin: 0.25em 0;
		line-height: var(--hleading);
	}
	&.left {
		text-align: left;
	}

	&.center {
		text-align: center;
	}

	&.right {
		text-align: right;
	}

	font-size: calc(var(--unit) * 6 / 7);
	@media (min-width: 48rem) and (min-height: 36rem) {
		font-size: var(--unit);
	}
}

.xs {
	--unit: 0.875rem;
}

.sm {
	--unit: 1rem;
}

.sd {
	--unit: 1.125rem;
}

.md {
	--unit: 1.25rem;
}

.lg {
	--unit: 1.5rem;
}

.xl {
	--unit: 1.75rem;
}

.x2l {
	--unit: 2rem;
}

.xxl {
	--unit: 2.5rem;
}

.x3l {
	--unit: 3rem;
}

.x4l {
	--unit: 4rem;
}

.x5l {
	--unit: 5rem;
}

.x6l {
	--unit: 6rem;
}

.x7l {
	--unit: 7rem;
}

.x8l {
	--unit: 8rem;
}
