.font {
	@supports (font-variation-settings: normal) {
		font-family: 'QuicksandVariable';
		font-variation-settings: 'wght' 555;
	}
}

.text {
	@supports (font-variation-settings: normal) {
		font-family: 'Roboto SlabVariable';
		font-variation-settings: 'wght' 367;
	}
}

.head {
	@supports (font-variation-settings: normal) {
		font-family: 'MuseoModernoVariable';
		font-variation-settings: 'wght' 666;
	}
}

.head,
.font,
.text {
	&.thin,
	&.fw3 {
		@supports (font-variation-settings: normal) {
			font-variation-settings: 'wght' 222;
		}
	}
	&.fine,
	&.fw3 {
		@supports (font-variation-settings: normal) {
			font-variation-settings: 'wght' 333;
		}
	}
	&.normal,
	&.fw4 {
		@supports (font-variation-settings: normal) {
			font-variation-settings: 'wght' 444;
		}
	}
	&.thicc,
	&.fw5 {
		@supports (font-variation-settings: normal) {
			font-variation-settings: 'wght' 555;
		}
	}
	&.thick,
	&.fw6 {
		@supports (font-variation-settings: normal) {
			font-variation-settings: 'wght' 666;
		}
	}
	&.phat,
	&.fw7 {
		@supports (font-variation-settings: normal) {
			font-variation-settings: 'wght' 777;
		}
	}
}

.font,
.text,
.head {
	&.md,
	&.lg,
	&.xl {
		margin: 1rem 0;
		line-height: var(--leading);
	}
}

.font,
.text,
.head {
	&.xxl,
	&.x2l,
	&.x3l,
	&.x4l,
	&.x5l,
	&.x6l,
	&.x7l,
	&.x8l {
		margin: 0.25em 0;
		line-height: var(--hleading);
	}
}

.xs {
	--unit: 0.875rem;
}

.sm {
	--unit: 1rem;
}

.md {
	--unit: 1.25rem;
}

.lg {
	--unit: 1.5rem;
}

.xl {
	--unit: 1.75rem;
}

.x2l,
.xxl {
	--unit: 2rem;
}

.x3l {
	--unit: 3rem;
}

.x4l {
	--unit: 4rem;
}

.x5l {
	--unit: 5rem;
}

.x6l {
	--unit: 6rem;
}

.x7l {
	--unit: 7rem;
}

.x8l {
	--unit: 8rem;
}

.head,
.text,
.font {
	font-size: calc(var(--unit) * 6 / 7);
	@media (min-width: 48rem) and (min-height: 36rem) {
		font-size: var(--unit);
	}
}
