.font {
	/* --font-weight: 555; */
	--font-casual: 0.75;
	--font-mono: 0;
}

.text {
	/* --font-weight: 367; */
	--font-mono: 0.25;
	--font-casual: 0.25;
}

.mono {
	--font-weight: 420;
	--font-mono: 1;
	--font-casual: 0;
}

.head {
	--font-weight: 666;
	--font-casual: 1;
	--font-mono: 0;
}

.alert {
	color: var(--flair);
	font-style: italic;
	--font-weight: 533;
}

.head,
.font,
.mono,
.text {
	&.thin,
	&.fw3 {
		--font-weight: 222;
	}
	&.fine,
	&.fw3 {
		--font-weight: 333;
	}
	&.normal,
	&.fw4 {
		--font-weight: 444;
	}
	&.thicc,
	&.fw5 {
		--font-weight: 555;
	}
	&.thick,
	&.fw6 {
		--font-weight: 666;
	}
	&.phat,
	&.fw7 {
		--font-weight: 777;
	}
	&.md,
	&.lg,
	&.xl {
		margin-top: 1rem;
		margin-bottom: 1rem;
		line-height: var(--leading);
	}
	&.slant {
		font-style: italic;
	}
	&.muted {
		opacity: 0.425;
	}
	&.flair {
		color: var(--flair);
	}
	&.link {
		color: var(--link);
	}
	&.ink {
		color: var(--ink);
	}
	&.ground {
		color: var(--ground);
	}
	&.paper {
		color: var(--paper);
	}
	&.pencil {
		color: var(--pencil);
	}
	&.dust {
		color: var(--dust);
	}
	&.xxl,
	&.x2l,
	&.x3l,
	&.x4l,
	&.x5l,
	&.x6l,
	&.x7l,
	&.x8l {
		margin-top: 0.25em;
		margin-bottom: 0.25em;
		line-height: var(--hleading);
	}
	&.alleft {
		text-align: left;
	}

	&.alcenter {
		text-align: center;
	}

	&.alright {
		text-align: right;
	}

	font-size: calc(var(--unit) * 6 / 7);
	@media (min-width: 48rem) and (min-height: 36rem) {
		font-size: var(--unit);
	}
}

.xs {
	--unit: 0.875rem;
}

.sm {
	--unit: 1rem;
}

.sd {
	--unit: 1.125rem;
}

.md {
	--unit: 1.25rem;
}

.lg {
	--unit: 1.5rem;
}

.xl {
	--unit: 1.75rem;
}

.x2l {
	--unit: 2rem;
}

.xxl {
	--unit: 2.5rem;
}

.x3l {
	--unit: 3rem;
}

.x4l {
	--unit: 4rem;
}

.x5l {
	--unit: 5rem;
}

.x6l {
	--unit: 6rem;
}

.x7l {
	--unit: 7rem;
}

.x8l {
	--unit: 8rem;
}
