/* museomoderno-latin-variable-wghtOnly-normal */
@font-face {
	font-family: 'MuseoModernoVariable';
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url('./files/museomoderno-latin-variable-wghtOnly-normal.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
		U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* museomoderno-latin-ext-variable-wghtOnly-normal */
@font-face {
	font-family: 'MuseoModernoVariable';
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url('./files/museomoderno-latin-ext-variable-wghtOnly-normal.woff2') format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
		U+2C60-2C7F, U+A720-A7FF;
}
/* roboto-slab-latin-variable-wghtOnly-normal */
@font-face {
	font-family: 'Roboto SlabVariable';
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url('./files/roboto-slab-latin-variable-wghtOnly-normal.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
		U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* roboto-slab-latin-ext-variable-wghtOnly-normal */
@font-face {
	font-family: 'Roboto SlabVariable';
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url('./files/roboto-slab-latin-ext-variable-wghtOnly-normal.woff2') format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
		U+2C60-2C7F, U+A720-A7FF;
}
/* quicksand-latin-variable-wghtOnly-normal */
@font-face {
	font-family: 'QuicksandVariable';
	font-style: normal;
	font-display: swap;
	font-weight: 300 700;
	src: url('./files/quicksand-latin-variable-wghtOnly-normal.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
		U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* quicksand-latin-ext-variable-wghtOnly-normal */
@font-face {
	font-family: 'QuicksandVariable';
	font-style: normal;
	font-display: swap;
	font-weight: 300 700;
	src: url('./files/quicksand-latin-ext-variable-wghtOnly-normal.woff2') format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
		U+2C60-2C7F, U+A720-A7FF;
}
/* inconsolata-latin-variable-wghtOnly-normal */
@font-face {
	font-family: 'InconsolataVariable';
	font-style: normal;
	font-display: swap;
	font-weight: 200 900;
	src: url('./files/inconsolata-latin-variable-wghtOnly-normal.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
		U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* inconsolata-latin-ext-variable-wghtOnly-normal */
@font-face {
	font-family: 'InconsolataVariable';
	font-style: normal;
	font-display: swap;
	font-weight: 200 900;
	src: url('./files/inconsolata-latin-ext-variable-wghtOnly-normal.woff2') format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
		U+2C60-2C7F, U+A720-A7FF;
}
