.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
}

.ib {
	display: inline-block;
}

.rel {
	position: relative;
}

.abs {
	position: absolute;
}

.block {
	display: block;
}

.inline {
	display: inline;
}

.fs {
	width: 100vw;
	height: 100vh;
}

.fh {
	height: 100vh;
}

.fixed {
	position: fixed;
}

.abs-0 {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.abs.t,
.fixed.t {
	top: 0;
}

.abs.r,
.fixed.r {
	right: 0;
}

.abs.b,
.fixed.b {
	bottom: 0;
}

.abs.l,
.fixed.l {
	left: 0;
}

/* adds a buffer to the bottom of a scrolling stack, since otherwise margins and padding collapse */
.lastack {
	position: relative;
}

.lastack::after {
	content: '';
	height: 2em;
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
}

.lastack:focus {
	outline: none;
}

ul.ls {
	list-style: none;
	margin: 0;
	padding: 0;
}

dl.ls dt {
	@supports (font-variation-settings: normal) {
		font-family: inherit;
		font-variation-settings: 'wght' 567;
	}
}

dt + dt,
dd + dt {
	margin-top: 1em;
}

.ls li {
	line-height: var(--leading);
	margin-bottom: 0.5em;
}

ol.ls {
	padding-left: 1.25em;
}

hr.divider {
	width: 80%;
	color: var(--glow);
	margin: 1rem auto;
}

hr.dinkus {
	border: 0;
	position: relative;
	margin: var(--unit) auto;
	width: 100%;
	&.spacey {
		margin: calc(var(--unit) * 3) auto;
	}
}

hr.dinkus::after {
	color: var(--flair);
	display: block;
	font-family: var(--text);
	font-size: calc(var(--unit));
	text-align: center;
}

.asterism::after {
	content: '⁂';
}

.fleuron::after {
	content: '𐡸';
}

.fleuroff::after {
	content: '𐡷';
}

.fleur::after {
	content: '⚜';
}

.clickable {
	cursor: pointer;
	pointer-events: auto;
}

.vapor {
	pointer-events: none;
	background: none;
}

.no-underline {
	text-decoration: none;
}

.text {
	font-family: var(--text);
}

.em {
	font-style: italic;
}

.bold {
	@supports (font-variation-settings: normal) {
		font-variation-settings: 'wght' 666;
	}
}

.mrg0 {
	margin: 0 !important;
}

.pad0 {
	padding: 0;
}

.mrg-25 {
	--mrg: var(--pad-25);
}

.mrg-50 {
	--mrg: var(--pad-50);
}

.mrg1 {
	--mrg: var(--pad1);
}

.mrgs {
	--mrg: var(--pads);
}

.mrg2 {
	--mrg: var(--pad2);
}

.mrg3 {
	--mrg: var(--pad3);
}

.mrg4 {
	--mrg: var(--pad4);
}

.pad-25 {
	--pad: var(--pad-25);
}

.pad-50 {
	--pad: var(--pad-50);
}

.pad1 {
	--pad: var(--pad1);
}

.pads {
	--pad: var(--pads);
}

.pad2 {
	--pad: var(--pad2);
}

.pad3 {
	--pad: var(--pad3);
}

.pad4 {
	--pad: var(--pad4);
}

.mrg.y {
	margin-top: var(--mrg);
	margin-bottom: var(--mrg);
}

.mrg.x {
	margin-left: var(--mrg);
	margin-right: var(--mrg);
}

.mrg.t {
	margin-top: var(--mrg);
}

.mrg.r {
	margin-right: var(--mrg);
}

.mrg.l {
	margin-left: var(--mrg);
}

.mrg.b {
	margin-bottom: var(--mrg);
}

.pad.y {
	padding-top: var(--pad);
	padding-bottom: var(--pad);
}

.pad.x {
	padding-left: var(--pad);
	padding-right: var(--pad);
}

.pad.t {
	padding-top: var(--pad);
}

.pad.r {
	padding-right: var(--pad);
}

.pad.l {
	padding-left: var(--pad);
}

.pad.b {
	padding-bottom: var(--pad);
}

.surf.out {
	z-index: 28;
	transform: scaleX(-1);
}

.invert.y {
	transform: scaleY(-1);
}

.pip::before {
	content: var(--pip);
	display: inline-block;
	transform: scaleX(-1);
}

.pip::after {
	content: var(--pip);
}

.tute {
	text-decoration: dotted underline;
}

.z12 {
	z-index: 12;
}
