.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
}

.ib {
	display: inline-block;
}

.flex {
	display: flex;
}

.flex.col {
	flex-direction: column;
}

.flex.wrap {
	flex-wrap: wrap;
}

.flex.mid {
	justify-content: center;
	align-items: center;
}

.flex.begin {
	justify-content: flex-start;
}

.flex.start {
	align-items: flex-start;
}

.flex.finish {
	justify-content: flex-end;
}

.flex .spread {
	flex-grow: 1;
}

.flex .dyn {
	flex: 1 0 auto;
}

.flex .whole {
	flex-basis: 100%;
}

.flex .half {
	flex-basis: 100%;
	@media (min-width: 36rem) {
		flex: 1 0 calc(50% - 2rem);
	}
}

.flex.more,
.flex .more {
	flex-basis: 40%;
}

.flex.less,
.flex .less {
	flex-basis: 30%;
}

.flex .begin {
	align-self: flex-start;
}

.flex .middle {
	align-self: center;
}

.flex .finish {
	align-self: flex-end;
}

.flex.end {
	justify-content: center;
	align-items: flex-end;
}

.flex.string {
	justify-content: space-evenly;
	align-items: center;
}

.flex.btw {
	justify-content: space-between;
}

.flex.even {
	justify-content: space-evenly;
}

.flex.around {
	justify-content: space-around;
}

.flex.space {
	justify-content: space-evenly;
	align-items: flex-start;
}

.flex .first {
	order: 1;
}

.flex .second {
	order: 2;
}

.flex .third {
	order: 3;
}

.rel {
	position: relative;
}

.abs {
	position: absolute;
}

.block {
	display: block;
}

.inline {
	display: inline;
}

.fs {
	width: 100vw;
	height: 100vh;
}

.fh {
	height: 100vh;
}

.fixed {
	position: fixed;
}

.abs-0 {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.abs.t,
.fixed.t {
	top: 0;
}

.abs.r,
.fixed.r {
	right: 0;
}

.abs.b,
.fixed.b {
	bottom: 0;
}

.abs.l,
.fixed.l {
	left: 0;
}

/* adds a buffer to the bottom of a scrolling stack, since otherwise margins and padding collapse */
.lastack {
	position: relative;
}

.lastack::after {
	content: '';
	height: 2em;
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
}

.lastack:focus {
	outline: none;
}

ul.ls {
	list-style: none;
	margin: 0;
	padding: 0;
}

.ls li {
	line-height: var(--leading);
	margin-bottom: 0.5em;
}

ol.ls {
	padding-left: 1.25em;
}

hr.divider {
	width: 80%;
	color: var(--glow);
	margin: 1rem auto;
}

hr.dinkus {
	border: 0;
	position: relative;
	margin: 1rem auto;
	width: 100%;
}

hr.dinkus::after {
	font-size: 2.5rem;
	font-family: var(--text);
	color: var(--flair);
	display: block;
	text-align: center;
}

hr.dinkus.asterism::after {
	font-size: 2rem;
}

.asterism::after {
	content: '⁂';
}

.fleuron::after {
	content: '𐡸';
}

.fleuroff::after {
	content: '𐡷';
}

.fleur::after {
	content: '⚜';
}

.clickable {
	cursor: pointer;
	pointer-events: auto;
}

.vapor {
	pointer-events: none;
	background: none;
}

.no-underline {
	text-decoration: none;
}

.text {
	font-family: var(--text);
}

.em {
	font-style: italic;
}

.bold {
	@supports (font-variation-settings: normal) {
		font-variation-settings: 'wght' 666;
	}
}

.pad.y {
	padding-top: var(--pad);
	padding-bottom: var(--pad);
}

.pad-25.x {
	padding-left: var(--pad-25);
	padding-right: var(--pad-25);
}

.pad-50.x {
	padding-left: var(--pad-50);
	padding-right: var(--pad-50);
}

.pad.x {
	padding-left: var(--pad);
	padding-right: var(--pad);
}

.mrg0 {
	margin: 0 !important;
}

.pad0 {
	padding: 0;
}

.mrg.y {
	margin-top: var(--pad);
	margin-bottom: var(--pad);
}

.mrg.t {
	margin-top: var(--pad);
}

.mrg.r {
	margin-right: var(--pad);
}

.mrg.l {
	margin-left: var(--pad);
}

.mrg2.r {
	margin-right: var(--pad2);
}

.mrg2.l {
	margin-left: var(--pad2);
}

.tight.y {
	margin-top: calc(var(--pad) * -0.25);
	margin-bottom: calc(var(--pad) * -0.25);
}

.mrg.x {
	margin-left: var(--pad);
	margin-right: var(--pad);
}

.pads.y {
	@media (min-height: 48rem) {
		padding-top: var(--pads);
		padding-bottom: var(--pads);
	}
}

.pad2.top {
	padding-top: var(--pad2);
}

.pads.x {
	padding-left: var(--pad);
	padding-right: var(--pad);
	@media (min-width: 48rem) {
		padding-left: var(--pads);
		padding-right: var(--pads);
	}
}

.mrgs.y {
	margin-top: var(--pads);
	margin-bottom: var(--pads);
}

.mrgs.x {
	margin-left: var(--pads);
	margin-right: var(--pads);
}

.pad2.y {
	padding-top: var(--pad2);
	padding-bottom: var(--pad2);
}

.pad2.x {
	padding-left: var(--pad2);
	padding-right: var(--pad2);
}

.mrg2.y {
	margin-top: var(--pad2);
	margin-bottom: var(--pad2);
}

.mrg2.x {
	margin-left: var(--pad2);
	margin-right: var(--pad2);
}

.pad3.y {
	padding-top: var(--pad3);
	padding-bottom: var(--pad3);
}

.pad3.x {
	padding-left: var(--pad3);
	padding-right: var(--pad3);
}

.mrg3.y {
	margin-top: var(--pad3);
	margin-bottom: var(--pad3);
}

.mrg3.x {
	margin-left: var(--pad3);
	margin-right: var(--pad3);
}

.pad4.y {
	padding-top: var(--pad4);
	padding-bottom: var(--pad4);
}

.pad4.x {
	padding-left: var(--pad4);
	padding-right: var(--pad4);
}

.mrg4.y {
	margin-top: var(--pad4);
	margin-bottom: var(--pad4);
}

.mrg4.x {
	margin-left: var(--pad4);
	margin-right: var(--pad4);
}

.surf.out {
	z-index: 28;
	transform: scaleX(-1);
}

.flex.align-start {
	align-items: flex-start;
}

.invert.y {
	transform: scaleY(-1);
}

.pip::before {
	content: var(--pip);
	display: inline-block;
	transform: scaleX(-1);
}

.pip::after {
	content: var(--pip);
}

.tute {
	text-decoration: dotted underline;
}

.stack {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
