/*
1. ROOT
*/

:root {
	/**
			SYSTEM FONT STACKS

			stolen from Github, Bootstrap and DigitalOcean
			https://markdotto.com/2018/02/07/github-system-fonts/#the-stack
	*/

	--sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	--serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times,
		Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	--mono: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
	--emoji: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

	--font: 'Recursive', var(--sans-serif);
	--text: 'Recursive', var(--serif);
	--mono: 'Recursive', var(--mono);
	--heading: 'Recursive', var(--sans-serif);

	--font-weight: 400;
	--font-slant: 0;
	--font-casual: 0;
	--font-mono: 0;
	--font-cursive: 0;

	--unit: 1rem;

	--hleading: 1.162;
	--leading: 1.309;
	--pleading: 1.618;

	--font-clamp: clamp(10px, 10px + 0.167vw + 0.167vh, 24px);

	--brand: hsl(321, 77%, 50%); /* #E21D9D */
	--brand-ish: hsl(321, 77%, 33%);

	--theme-icons: '🌗🌓';

	--logo-dim: 7rem; /* to size the headers and such */
	--drawer-dim: 20rem; /* the width of the nav drawer */

	--frame: 0.25vw; /* to keep content off the edges of things */
	--pad-25: 0.25rem; /* to keep content off the edges of things */
	--pad-50: 0.5rem; /* to keep content off the edges of things */
	--pad1: 1rem; /* to keep content off the edges of things */
	--pads: 1.5rem; /* a bit of extra padding */
	--pad2: 2rem; /* a bit of extra padding */
	--pad3: 3rem; /* a bit of extra padding */
	--pad4: 4rem; /* a bit of extra padding */
	--lead: 1.5rem; /* lead to lay between lines, lends vertical rhythm */
	--bev: 0.25rem;
	--bevel: 0.5rem;
	--bevels: 12vw;
	--bumper: 3em 2em; /* keeps stuff off the interior walls */

	--beat: 1s; /* default transition duration */
	--2beat: calc(var(--beat) * 1.618); /* twice as long as a beat */
	--3beat: calc(var(--beat) * 2.618); /* thrice as long as a beat */
	--4beat: calc(var(--beat) * 4.236); /* fourish as long as a beat */
	--beat-1: calc(var(--beat) * 0.618); /* halfish as long as a beat */
	--beat-2: calc(var(--beat) * 0.309); /* thirdish as long as a beat */
	--beat-3: calc(var(--beat) * 0.1618); /* fourthish as long as a beat */

	--shaglow: 0 1px 3px 0.25px var(--dust), 0 0 10vw -2.5vw var(--glow);
}
